<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./index.css" rel="stylesheet" /><div
        class="recursos-container"
        ><div class="recursos-recursos"
          ><div class="recursos-rodap"
            ><img
              alt="Rectangle32I707"
              src="public/external/rectangle32i707-1q49-500h.png"
              class="recursos-rectangle32" /><img
              alt="logo11I707"
              src="public/external/logo11i707-cb5-200h.png"
              class="recursos-logo11" /><div class="recursos-frame12"
              ><span class="recursos-text"><span>Produto</span></span
              ><span class="recursos-text02"
                ><span>Sobre a plataforma</span></span
              ><span class="recursos-text04"
                ><span>Público-alvo</span></span
              ></div
            ><div class="recursos-frame14"
              ><span class="recursos-text06"><span>Stakeholders</span></span
              ><span class="recursos-text08"><span>Clientes</span></span
              ><span class="recursos-text10"
                ><span>Histórias de sucesso</span></span
              ><span class="recursos-text12"
                ><span>Suporte ao cliente</span></span
              ><span class="recursos-text14"
                ><span>Programa de parceiros</span></span
              ></div
            ><div class="recursos-frame15"
              ><span class="recursos-text16"><span>Recursos</span></span
              ><span class="recursos-text18"><span>Blog</span></span
              ><span class="recursos-text20"
                ><span>Eventos e webinar</span></span
              ><span class="recursos-text22"
                ><span>Academia My Menthor</span></span
              ><span class="recursos-text24"
                ><span>Base de conhecimento</span></span
              ></div
            ><div class="recursos-frame16"
              ><span class="recursos-text26"><span>Empresa</span></span
              ><span class="recursos-text28"><span>Sobre nós</span></span
              ><span class="recursos-text30"><span>Propósito</span></span
              ><span class="recursos-text32"
                ><span>Fale conosco</span></span
              ></div
            ><div class="recursos-frame13"
              ><span class="recursos-text34"><span>Soluções</span></span
              ><span class="recursos-text36"
                ><span>Metodologia e funcionalidades</span></span
              ><span class="recursos-text38"
                ><span>Portfólio de serviços</span></span
              ><span class="recursos-text40"><span>Pacotes</span></span></div
            ><div class="recursos-group40"
              ><div class="recursos-group36"
                ><span class="recursos-text42"
                  ><span>Termos de serviço</span></span
                ><span class="recursos-text44"
                  ><span>Política de privacidade</span></span
                ><span class="recursos-text46"><span>Cookies</span></span></div
              ><span class="recursos-text48"
                ><span
                  >My Menthor Copyright © 2024. Todos os direitos
                  reservados.</span
                ></span
              ><div class="recursos-group37"
                ><img
                  alt="arrowdownwardaltI707"
                  src="public/external/arrowdownwardalti707-md7i.svg"
                  class="recursos-arrowdownwardalt" /></div></div
            ><div class="recursos-group38"
              ><span class="recursos-text50"
                ><span>suporte@mymenthor.com.br</span></span
              ><img
                alt="mailI707"
                src="public/external/maili707-3th2.svg"
                class="recursos-mail" /></div
            ><div class="recursos-frame8"
              ><span class="recursos-text52"
                ><span>Agendar demonstração</span></span
              ><img
                alt="arrowdownwardaltI707"
                src="public/external/arrowdownwardalti707-x7ab.svg"
                class="recursos-arrowdownwardalt1" /></div
            ><img
              alt="Frame17I707"
              src="public/external/frame17i707-qsuh.svg"
              class="recursos-frame17" /></div
          ><div class="recursos-recursos1"
            ><img
              alt="Rectangle291091"
              src="public/external/rectangle291091-62u-1500w.png"
              class="recursos-rectangle29" /><div class="recursos-group35"
              ><div class="recursos-gif"
                ><div class="recursos-maskgroup"
                  ><img
                    alt="IMAGEhttpsapplottiefilescomanimationf8b4ad7607a44d1246"
                    src="public/external/imagehttpsapplottiefilescomanimationf8b4ad7607a44d1246-12bi-300h.png"
                    class="recursos-imag-ehttpsapplottiefilescomanimationf8b4ad7607a44d" /></div></div
              ><span class="recursos-text54"><span>Recursos</span></span
              ><span class="recursos-text56"
                ><span
                  >Conheça os recursos disponibilizados para você ficar por
                  dentro dos melhores artigos, eventos e conhecimentos sobre a
                  plataforma.</span
                ></span
              ></div
            ><div class="recursos-group31"
              ><div class="recursos-group32"
                ><span class="recursos-text58"
                  ><span
                    >Explore insights e dicas de especialistas em nosso
                    blog.</span
                  ></span
                ><span class="recursos-text60"
                  ><span>Blog da My Menthor</span></span
                ><div class="recursos-frame81"
                  ><span class="recursos-text62"><span>Acessar</span></span
                  ><img
                    alt="arrowdownwardalt1091"
                    src="public/external/arrowdownwardalt1091-oim.svg"
                    class="recursos-arrowdownwardalt2" /></div></div></div
            ><div class="recursos-group33"
              ><div class="recursos-group321"
                ><span class="recursos-text64"
                  ><span
                    >Capacite-se e desenvolva habilidades relacionadas à
                    arquitetura de negócios.</span
                  ></span
                ><span class="recursos-text66"
                  ><span>Academia My Menthor</span></span
                ></div
              ></div
            ><div class="recursos-group322"
              ><div class="recursos-group323"
                ><span class="recursos-text68"
                  ><span
                    >Participe de nossos eventos e webinars para se manter
                    atualizado sobre nosso ecossistema.</span
                  ></span
                ><span class="recursos-text70"
                  ><span>Eventos e Webinar</span></span
                ><div class="recursos-frame82"
                  ><span class="recursos-text72"><span>Acessar</span></span
                  ><img
                    alt="arrowdownwardalt1091"
                    src="public/external/arrowdownwardalt1091-peus.svg"
                    class="recursos-arrowdownwardalt3" /></div></div></div
            ><div class="recursos-group34"
              ><div class="recursos-group324"
                ><span class="recursos-text74"
                  ><span
                    >Acesse nossa base de conhecimento para encontrar respostas
                    e soluções para seus desafios empresariais.</span
                  ></span
                ><span class="recursos-text76"
                  ><span>Base de conhecimento</span></span
                ></div
              ></div
            ><img
              alt="Vector21091"
              src="public/external/vector21091-k2i.svg"
              class="recursos-vector2" /><img
              alt="Vector31091"
              src="public/external/vector31091-g3g.svg"
              class="recursos-vector3" /></div
          ><div class="recursos-cabealho"
            ><div class="recursos-group10"
              ><img
                alt="logo11I707"
                src="public/external/logo11i707-lb1d-200h.png"
                class="recursos-logo111" /></div
            ><img
              alt="Vector7I707"
              src="public/external/vector7i707-d0p.svg"
              class="recursos-vector7" /><div class="recursos-group9"
              ><img
                alt="languageI707"
                src="public/external/languagei707-q4w.svg"
                class="recursos-language" /><div class="recursos-login"
                ><img
                  alt="Rectangle23I707"
                  src="public/external/rectangle23i707-9u7-200h.png"
                  class="recursos-rectangle23" /><div class="recursos-group7"
                  ><span class="recursos-text78"><span>Login</span></span
                  ><span class="recursos-text80"><span>PT</span></span
                  ><img
                    alt="lockI707"
                    src="public/external/locki707-sxf.svg"
                    class="recursos-lock" /></div></div
              ><div class="recursos-group8"
                ><span class="recursos-text82"
                  ><span>suporte@mymenthor.com.br</span></span
                ><img
                  alt="Vector1I707"
                  src="public/external/vector1i707-9f6n.svg"
                  class="recursos-vector1" /></div></div></div></div></div
    ></div> </body
></html>
