<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./index.css" rel="stylesheet" /><div
        class="empresa-container"
        ><div class="empresa-empresa"
          ><div class="empresa-rodap"
            ><img
              alt="Rectangle32I709"
              src="public/external/rectangle32i709-y1k1-500h.png"
              class="empresa-rectangle32" /><img
              alt="logo11I709"
              src="public/external/logo11i709-gf94-200h.png"
              class="empresa-logo11" /><div class="empresa-frame12"
              ><span class="empresa-text"><span>Produto</span></span
              ><span class="empresa-text002"
                ><span>Sobre a plataforma</span></span
              ><span class="empresa-text004"
                ><span>Público-alvo</span></span
              ></div
            ><div class="empresa-frame14"
              ><span class="empresa-text006"><span>Stakeholders</span></span
              ><span class="empresa-text008"><span>Clientes</span></span
              ><span class="empresa-text010"
                ><span>Histórias de sucesso</span></span
              ><span class="empresa-text012"
                ><span>Suporte ao cliente</span></span
              ><span class="empresa-text014"
                ><span>Programa de parceiros</span></span
              ></div
            ><div class="empresa-frame15"
              ><span class="empresa-text016"><span>Recursos</span></span
              ><span class="empresa-text018"><span>Blog</span></span
              ><span class="empresa-text020"
                ><span>Eventos e webinar</span></span
              ><span class="empresa-text022"
                ><span>Academia My Menthor</span></span
              ><span class="empresa-text024"
                ><span>Base de conhecimento</span></span
              ></div
            ><div class="empresa-frame16"
              ><span class="empresa-text026"><span>Empresa</span></span
              ><span class="empresa-text028"><span>Sobre nós</span></span
              ><span class="empresa-text030"><span>Propósito</span></span
              ><span class="empresa-text032"
                ><span>Fale conosco</span></span
              ></div
            ><div class="empresa-frame13"
              ><span class="empresa-text034"><span>Soluções</span></span
              ><span class="empresa-text036"
                ><span>Metodologia e funcionalidades</span></span
              ><span class="empresa-text038"
                ><span>Portfólio de serviços</span></span
              ><span class="empresa-text040"><span>Pacotes</span></span></div
            ><div class="empresa-group40"
              ><div class="empresa-group36"
                ><span class="empresa-text042"
                  ><span>Termos de serviço</span></span
                ><span class="empresa-text044"
                  ><span>Política de privacidade</span></span
                ><span class="empresa-text046"><span>Cookies</span></span></div
              ><span class="empresa-text048"
                ><span
                  >My Menthor Copyright © 2024. Todos os direitos
                  reservados.</span
                ></span
              ><div class="empresa-group37"
                ><img
                  alt="arrowdownwardaltI709"
                  src="public/external/arrowdownwardalti709-otw8.svg"
                  class="empresa-arrowdownwardalt" /></div></div
            ><div class="empresa-group38"
              ><span class="empresa-text050"
                ><span>suporte@mymenthor.com.br</span></span
              ><img
                alt="mailI709"
                src="public/external/maili709-qlch.svg"
                class="empresa-mail" /></div
            ><div class="empresa-frame8"
              ><span class="empresa-text052"
                ><span>Agendar demonstração</span></span
              ><img
                alt="arrowdownwardaltI709"
                src="public/external/arrowdownwardalti709-cik.svg"
                class="empresa-arrowdownwardalt1" /></div
            ><img
              alt="Frame17I709"
              src="public/external/frame17i709-27k8.svg"
              class="empresa-frame17" /></div
          ><div class="empresa-group75"
            ><div class="empresa-group22"
              ><img
                alt="Vector7210"
                src="public/external/vector7210-8db3.svg"
                class="empresa-vector"
              /><span class="empresa-text054"><span>A empresa</span></span
              ><span class="empresa-text056"
                ><span class="empresa-text057"
                  >A My Menthor é um produto desenvolvido pelas empresas </span
                ><span class="empresa-text058"
                  >APRIMORE Consultoria em Gestão Empresarial</span
                ><span class="empresa-text059">, com sede no </span
                ><span class="empresa-text060">Brasil,</span
                ><span class="empresa-text061"> e da </span
                ><span class="empresa-text062">TOPTIER Business Group</span
                ><span class="empresa-text063">, sediada nos </span
                ><span class="empresa-text064">EUA</span
                ><span class="empresa-text065">.&nbsp;</span><br /><span
                  class="empresa-text067"
                ></span
                ><br /><span class="empresa-text069">Ela é fruto de </span
                ><span class="empresa-text070"
                  >mais de 20 anos de experiência em gestão organizacional</span
                ><span class="empresa-text071">, com origem em </span
                ><span class="empresa-text072">consultoria especializada</span
                ><span class="empresa-text073"> em </span
                ><span class="empresa-text074"
                  >Gerenciamento de Processos de Negócio (BPM)</span
                ><span class="empresa-text075">
                  e ampliada para arquitetura de negócios.&nbsp;</span
                ><br /><span class="empresa-text077"></span><br /><span
                  class="empresa-text079"
                  >Nessa jornada, identificamos uma lacuna no mercado: as
                  ferramentas de arquitetura&nbsp; disponíveis no mercado não
                  eram simples o suficiente para que&nbsp; as diversas áreas de
                  uma empresa colaborassem para&nbsp;organizar os componentes de
                  negócio em torno da estratégia. Isso demandava conhecimento
                  muito técnico em notações e diagramas, o que dificultava </span
                ><br /><span class="empresa-text081"
                  >o compartilhamento com as áreas de negócio.&nbsp;</span
                ><br /><span class="empresa-text083"></span><br /><span
                  class="empresa-text085"
                  >Foi então que </span
                ><span class="empresa-text086">desenvolvemos</span
                ><span class="empresa-text087"> </span
                ><span class="empresa-text088"
                  >uma solução capaz de ajudar as organizações</span
                ><span class="empresa-text089">
                  no processo de implantação, sustentação e evolução da
                  arquitetura de negócios. Acreditamos que nossa plataforma tem
                  o </span
                ><span class="empresa-text090"
                  >potencial real de elevar as organizações a um novo patamar de
                  gestão</span
                ><span class="empresa-text091">, proporcionando um </span
                ><span>valor efetivo para clientes e stakeholders.</span></span
              ></div
            ><img
              alt="Rectangle7210"
              src="public/external/rectangle7210-hpnj-600h.png"
              class="empresa-rectangle" /></div
          ><div class="empresa-aplataforma"
            ><div class="empresa-group14"
              ><img
                alt="httpsapplottiefilescomanimation51531147969347dab321246"
                src="public/external/httpsapplottiefilescomanimation51531147969347dab321246-588u-600h.png"
                class="empresa-httpsapplottiefilescomanimation51531147969347dab32"
              /><div class="empresa-group12"
                ><span class="empresa-text093"
                  ><span
                    >Nosso propósito é aprimorar a capacidade de gestão e
                    alavancar o desempenho das empresas por meio da integração
                    dos componentes organizacionais orientados por processos,
                    potencializando a execução estratégica e maximizando os
                    resultados.</span
                  ><br /><span></span><br /><span
                    >Nós disponibilizamos software, capacitamos e
                    instrumentalizamos os clientes para transformar e gerir
                    adequadamente o negócio, apoiando a mudança cultural e
                    evidenciando os ganhos e o resultados de
                    desempenho.&nbsp;</span
                  ></span
                ><img
                  alt="Vector7210"
                  src="public/external/vector7210-u9l.svg"
                /><span class="empresa-text099"
                  ><span>Propósito</span></span
                ></div
              ></div
            ></div
          ><span class="empresa-text101"
            ><span class="empresa-text102">Fale conosco </span
            ><span class="empresa-text103">ou</span
            ><span> agende uma demonstração!</span></span
          ><span class="empresa-text105"
            ><span>Preencha o formulário com os seus dados.</span><br /><span
              >A equipe da My Menthor entrará em contato o mais breve
              possível!</span
            ></span
          ><img
            alt="httpsapplottiefilescomanimation781100bc85f1485798d1246"
            src="public/external/httpsapplottiefilescomanimation781100bc85f1485798d1246-2lf-700w.png"
            class="empresa-httpsapplottiefilescomanimation781100bc85f1485798d" /><img
            alt="Rectangle521246"
            src="public/external/rectangle521246-oeqg-1100h.png"
            class="empresa-rectangle52" /><div class="empresa-frame62"
            ><div class="empresa-frame58"
              ><span class="empresa-text109"><span>Nome completo*</span></span
              ><div class="empresa-frame57"
                ><span class="empresa-text111"
                  ><span>Digite seu nome completo...</span></span
                ></div
              ></div
            ><div class="empresa-frame59"
              ><span class="empresa-text113"><span>E-mail*</span></span
              ><div class="empresa-frame571"
                ><span class="empresa-text115"
                  ><span>Digite seu e-mail...</span></span
                ></div
              ></div
            ><div class="empresa-frame60"
              ><span class="empresa-text117"><span>Telefone*</span></span
              ><div class="empresa-frame572"
                ><span class="empresa-text119"
                  ><span>(00) 00000-0000</span></span
                ></div
              ></div
            ><div class="empresa-frame61"
              ><span class="empresa-text121"><span>Empresa</span></span
              ><div class="empresa-frame573"
                ><span class="empresa-text123"
                  ><span>Digite o nome da sua empresa</span></span
                ></div
              ></div
            ><div class="empresa-frame621"
              ><span class="empresa-text125"><span>Cargo</span></span
              ><div class="empresa-frame574"
                ><span class="empresa-text127"
                  ><span>Qual é o seu cargo?</span></span
                ></div
              ></div
            ><div class="empresa-frame64"
              ><span class="empresa-text129"><span>Mensagem</span></span
              ><div class="empresa-frame575"
                ><span class="empresa-text131"
                  ><span>Digite sua mensagem</span></span
                ></div
              ></div
            ></div
          ><div class="empresa-frame81"
            ><span class="empresa-text133"><span>ENVIAR</span></span
            ><img
              alt="arrowdownwardalt1246"
              src="public/external/arrowdownwardalt1246-hcnj.svg"
              class="empresa-arrowdownwardalt2" /></div
          ><div class="empresa-cabealho"
            ><div class="empresa-group10"
              ><img
                alt="logo11I709"
                src="public/external/logo11i709-dpz9-200h.png"
                class="empresa-logo111" /></div
            ><img
              alt="Vector8I709"
              src="public/external/vector8i709-wuzf.svg"
              class="empresa-vector8" /><div class="empresa-group9"
              ><img
                alt="languageI709"
                src="public/external/languagei709-fvj9.svg"
                class="empresa-language" /><div class="empresa-login"
                ><img
                  alt="Rectangle23I709"
                  src="public/external/rectangle23i709-rkzg-200h.png"
                  class="empresa-rectangle23" /><div class="empresa-group7"
                  ><span class="empresa-text135"><span>Login</span></span
                  ><span class="empresa-text137"><span>PT</span></span
                  ><img
                    alt="lockI709"
                    src="public/external/locki709-hkk8.svg"
                    class="empresa-lock" /></div></div
              ><div class="empresa-group8"
                ><span class="empresa-text139"
                  ><span>suporte@mymenthor.com.br</span></span
                ><img
                  alt="Vector1I709"
                  src="public/external/vector1i709-to25.svg"
                  class="empresa-vector1" /></div></div></div></div></div
    ></div> </body
></html>
