<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./style.css" /><div
      ><link href="./index.css" rel="stylesheet" /><div
        class="clienteseparceiros-container"
        ><div class="clienteseparceiros-clienteseparceiros"
          ><div class="clienteseparceiros-rodap"
            ><img
              src="public/external/rectangle32i651-6gm-500h.png"
              alt="Rectangle32I651"
              class="clienteseparceiros-rectangle32" /><img
              src="public/external/logo11i651-up8f-200h.png"
              alt="logo11I651"
              class="clienteseparceiros-logo11" /><div
              class="clienteseparceiros-frame12"
              ><span class="clienteseparceiros-text"><span>Produto</span></span
              ><span class="clienteseparceiros-text002"
                ><span>Sobre a plataforma</span></span
              ><span class="clienteseparceiros-text004"
                ><span>Público-alvo</span></span
              ></div
            ><div class="clienteseparceiros-frame14"
              ><span class="clienteseparceiros-text006"
                ><span>Stakeholders</span></span
              ><span class="clienteseparceiros-text008"
                ><span>Clientes</span></span
              ><span class="clienteseparceiros-text010"
                ><span>Histórias de sucesso</span></span
              ><span class="clienteseparceiros-text012"
                ><span>Suporte ao cliente</span></span
              ><span class="clienteseparceiros-text014"
                ><span>Programa de parceiros</span></span
              ></div
            ><div class="clienteseparceiros-frame15"
              ><span class="clienteseparceiros-text016"
                ><span>Recursos</span></span
              ><span class="clienteseparceiros-text018"><span>Blog</span></span
              ><span class="clienteseparceiros-text020"
                ><span>Eventos e webinar</span></span
              ><span class="clienteseparceiros-text022"
                ><span>Academia My Menthor</span></span
              ><span class="clienteseparceiros-text024"
                ><span>Base de conhecimento</span></span
              ></div
            ><div class="clienteseparceiros-frame16"
              ><span class="clienteseparceiros-text026"
                ><span>Empresa</span></span
              ><span class="clienteseparceiros-text028"
                ><span>Sobre nós</span></span
              ><span class="clienteseparceiros-text030"
                ><span>Propósito</span></span
              ><span class="clienteseparceiros-text032"
                ><span>Fale conosco</span></span
              ></div
            ><div class="clienteseparceiros-frame13"
              ><span class="clienteseparceiros-text034"
                ><span>Soluções</span></span
              ><span class="clienteseparceiros-text036"
                ><span>Metodologia e funcionalidades</span></span
              ><span class="clienteseparceiros-text038"
                ><span>Portfólio de serviços</span></span
              ><span class="clienteseparceiros-text040"
                ><span>Pacotes</span></span
              ></div
            ><div class="clienteseparceiros-group40"
              ><div class="clienteseparceiros-group36"
                ><span class="clienteseparceiros-text042"
                  ><span>Termos de serviço</span></span
                ><span class="clienteseparceiros-text044"
                  ><span>Política de privacidade</span></span
                ><span class="clienteseparceiros-text046"
                  ><span>Cookies</span></span
                ></div
              ><span class="clienteseparceiros-text048"
                ><span
                  >My Menthor Copyright © 2024. Todos os direitos
                  reservados.</span
                ></span
              ><div class="clienteseparceiros-group37"
                ><img
                  src="public/external/arrowdownwardalti651-l2m.svg"
                  alt="arrowdownwardaltI651"
                  class="clienteseparceiros-arrowdownwardalt" /></div></div
            ><div class="clienteseparceiros-group38"
              ><span class="clienteseparceiros-text050"
                ><span>suporte@mymenthor.com.br</span></span
              ><img
                src="public/external/maili651-qma6.svg"
                alt="mailI651"
                class="clienteseparceiros-mail" /></div
            ><div class="clienteseparceiros-frame8"
              ><span class="clienteseparceiros-text052"
                ><span>Agendar demonstração</span></span
              ><img
                src="public/external/arrowdownwardalti651-tgls.svg"
                alt="arrowdownwardaltI651"
                class="clienteseparceiros-arrowdownwardalt1" /></div
            ><img
              src="public/external/frame17i651-kbcl.svg"
              alt="Frame17I651"
              class="clienteseparceiros-frame17" /></div
          ><div class="clienteseparceiros-clientes"
            ><span class="clienteseparceiros-text054"
              ><span class="clienteseparceiros-text055">Seu sucesso</span
              ><span> é o nosso sucesso</span></span
            ><img
              src="public/external/vector1216-jrh.svg"
              alt="Vector1216"
              class="clienteseparceiros-vector" /><span
              class="clienteseparceiros-text057"
              ><span
                >Estamos comprometidos com o sucesso contínuo de nossos
                clientes, cultivando relacionamentos de longo prazo com foco em
                resultados.</span
              ></span
            ><img
              src="public/external/imagehttpsapplottiefilescomanimationad93565c6cd4451246-j3j-500h.png"
              alt="IMAGEhttpsapplottiefilescomanimationad93565c6cd4451246"
              class="clienteseparceiros-imag-ehttpsapplottiefilescomanimationad93565c6cd445" /></div
          ><div class="clienteseparceiros-aplataforma"
            ><div class="clienteseparceiros-group15"
              ><img
                src="public/external/rectangle6562-qbkn-500h.png"
                alt="Rectangle6562"
                class="clienteseparceiros-rectangle" /></div
            ><div class="clienteseparceiros-group14"
              ><img
                src="public/external/rectangle56563-26o-400h.png"
                alt="Rectangle56563"
                class="clienteseparceiros-rectangle5" /><div
                class="clienteseparceiros-group12"
                ><div class="clienteseparceiros-frame81"
                  ><span class="clienteseparceiros-text059"
                    ><span>Fale conosco</span></span
                  ><img
                    src="public/external/arrowdownwardalt6563-edar.svg"
                    alt="arrowdownwardalt6563"
                    class="clienteseparceiros-arrowdownwardalt2" /></div
                ><span class="clienteseparceiros-text061"
                  ><span>Canal de atendimento ao cliente</span></span
                ><span class="clienteseparceiros-text063"
                  ><span class="clienteseparceiros-text064"
                    >Entre em contato hoje mesmo e descubra como podemos
                    impulsionar o seu sucesso juntos. Clique em </span
                  ><span class="clienteseparceiros-text065">Fale Conosco</span
                  ><span> e embarque nessa jornada.</span></span
                ></div
              ><div class="clienteseparceiros-group71"
                ><img
                  src="public/external/ellipse46564-cdpa-200h.png"
                  alt="Ellipse46564"
                  class="clienteseparceiros-ellipse4" /><img
                  src="public/external/headphones6564-90os.svg"
                  alt="headphones6564"
                  class="clienteseparceiros-headphones" /></div></div></div
          ><div class="clienteseparceiros-parceiros"
            ><div class="clienteseparceiros-group21"
              ><div class="clienteseparceiros-group22"
                ><img
                  src="public/external/vector6565-s55k.svg"
                  alt="Vector6565" /><span class="clienteseparceiros-text067"
                  ><span>Programa de parceiros</span></span
                ><span class="clienteseparceiros-text069"
                  ><span
                    >Registre-se e descubra os benefícios de nossos programas de
                    parceria e como podemos trabalhar juntos para alcançar
                    resultados excepcionais.</span
                  ></span
                ><div class="clienteseparceiros-frame9"
                  ><span class="clienteseparceiros-text071"
                    ><span>Portal de parceiros</span></span
                  ></div
                ><div class="clienteseparceiros-frame82"
                  ><span class="clienteseparceiros-text073"
                    ><span>Torne-se um parceiro</span></span
                  ><img
                    src="public/external/arrowdownwardalt6566-8uk.svg"
                    alt="arrowdownwardalt6566"
                    class="clienteseparceiros-arrowdownwardalt3" /></div></div
              ><img
                src="public/external/rectangle6565-a1wc-400w.png"
                alt="Rectangle6565"
                class="clienteseparceiros-rectangle1" /><img
                src="public/external/rectangle6566-r6pp-400w.png"
                alt="Rectangle6566"
                class="clienteseparceiros-rectangle2" /></div></div
          ><div class="clienteseparceiros-publico"
            ><img
              src="public/external/rectangle56868-yi6r-2000w.png"
              alt="Rectangle56868"
              class="clienteseparceiros-rectangle51" /><div
              class="clienteseparceiros-group50"
              ><span class="clienteseparceiros-text075"
                ><span>Histórias de sucesso</span></span
              ><img
                src="public/external/vector6868-rfa.svg"
                alt="Vector6868"
                class="clienteseparceiros-vector2" /><div
                class="clienteseparceiros-group72"
                ><span class="clienteseparceiros-text077"
                  ><span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean placerat ligula et mollis fringilla. Nunc mollis,
                    odio eget consectetur rhoncus, nisl mauris blandit ante, non
                    pretium turpis ligula a magna. Nam faucibus volutpat orci,
                    at sagittis lacus dignissim sed. Curabitur id ex quis est
                    vulputate vestibulum.</span
                  ><br /><span></span><br /><span
                    >Donec sodales dui sapien, ut euismod felis imperdiet ac.
                    Vestibulum nulla ipsum, tincidunt eu porttitor aliquam,
                    malesuada eget leo. Quisque sed quam ut est finibus maximus
                    non quis elit. Fusce et luctus enim, ac gravida sem. Donec
                    interdum lectus tortor, in ullamcorper lacus rhoncus sit
                    amet.</span
                  ></span
                ><span class="clienteseparceiros-text083"
                  ><span>Case</span></span
                ><img
                  src="public/external/foto6870-35yc-700w.png"
                  alt="FOTO6870"
                  class="clienteseparceiros-foto" /></div
              ><div class="clienteseparceiros-group73"
                ><span class="clienteseparceiros-text085"
                  ><span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean placerat ligula et mollis fringilla. Nunc mollis,
                    odio eget consectetur rhoncus, nisl mauris blandit ante, non
                    pretium turpis ligula a magna. Nam faucibus volutpat orci,
                    at sagittis lacus dignissim sed. Curabitur id ex quis est
                    vulputate vestibulum.</span
                  ><br /><span></span><br /><span
                    >Donec sodales dui sapien, ut euismod felis imperdiet ac.
                    Vestibulum nulla ipsum, tincidunt eu porttitor aliquam,
                    malesuada eget leo. Quisque sed quam ut est finibus maximus
                    non quis elit. Fusce et luctus enim, ac gravida sem. Donec
                    interdum lectus tortor, in ullamcorper lacus rhoncus sit
                    amet.</span
                  ></span
                ><span class="clienteseparceiros-text091"
                  ><span>Case</span></span
                ><img
                  src="public/external/foto6870-q3zg-700w.png"
                  alt="FOTO6870"
                  class="clienteseparceiros-foto1" /></div
              ><div class="clienteseparceiros-group74"
                ><span class="clienteseparceiros-text093"
                  ><span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean placerat ligula et mollis fringilla. Nunc mollis,
                    odio eget consectetur rhoncus, nisl mauris blandit ante, non
                    pretium turpis ligula a magna. Nam faucibus volutpat orci,
                    at sagittis lacus dignissim sed. Curabitur id ex quis est
                    vulputate vestibulum.</span
                  ><br /><span></span><br /><span
                    >Donec sodales dui sapien, ut euismod felis imperdiet ac.
                    Vestibulum nulla ipsum, tincidunt eu porttitor aliquam,
                    malesuada eget leo. Quisque sed quam ut est finibus maximus
                    non quis elit. Fusce et luctus enim, ac gravida sem. Donec
                    interdum lectus tortor, in ullamcorper lacus rhoncus sit
                    amet.</span
                  ></span
                ><span class="clienteseparceiros-text099"
                  ><span>Case</span></span
                ><img
                  src="public/external/foto6870-84e0t-700w.png"
                  alt="FOTO6870"
                  class="clienteseparceiros-foto2" /></div></div></div
          ><div class="clienteseparceiros-cabealho"
            ><div class="clienteseparceiros-group10"
              ><img
                src="public/external/logo11i655-is8d-200h.png"
                alt="logo11I655"
                class="clienteseparceiros-logo111" /></div
            ><img
              src="public/external/vector6i655-05l.svg"
              alt="Vector6I655"
              class="clienteseparceiros-vector6" /><div
              class="clienteseparceiros-group9"
              ><img
                src="public/external/languagei655-50np.svg"
                alt="languageI655"
                class="clienteseparceiros-language" /><div
                class="clienteseparceiros-login"
                ><img
                  src="public/external/rectangle23i655-i3z-200h.png"
                  alt="Rectangle23I655"
                  class="clienteseparceiros-rectangle23" /><div
                  class="clienteseparceiros-group7"
                  ><span class="clienteseparceiros-text101"
                    ><span>Login</span></span
                  ><span class="clienteseparceiros-text103"
                    ><span>PT</span></span
                  ><img
                    src="public/external/locki655-a4z.svg"
                    alt="lockI655"
                    class="clienteseparceiros-lock" /></div></div
              ><div class="clienteseparceiros-group8"
                ><span class="clienteseparceiros-text105"
                  ><span>suporte@mymenthor.com.br</span></span
                ><img
                  src="public/external/vector1i655-sdlf.svg"
                  alt="Vector1I655"
                  class="clienteseparceiros-vector1" /></div></div></div></div></div
    ></div> </body
></html>
