@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Exo';
	font-style: regular;
	font-weight: 400;
	src: url('/fonts/Exo/Exo-VariableFont_wght.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Exo-Regular';
	font-style: regular;
	font-weight: 500;
	src: url('/fonts/Exo/Exo-VariableFont_wght.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Exo-Semibold';
	font-style: regular;
	font-weight: 600;
	src: url('/fonts/Exo/Exo-VariableFont_wght.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Exo-Bold';
	font-style: regular;
	font-weight: 700;
	src: url('/fonts/Exo/Exo-VariableFont_wght.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	font-style: regular;
	font-weight: 400;
	src: url('/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf');
	font-display: swap;
}

* {
	font-family: Arial, sans-serif;
}

.Archivo {
	font-family: Archivo, Arial, ssans-serif;
}

.Exo {
	font-family: Exo, Arial, sans-serif;
}

.Exo-Regular {
	font-family: Exo-Regular, Arial, sans-serif;
}

.Exo-Bold {
	font-family: Exo-Bold, Arial, sans-serif;
}

.Exo-Semibold {
	font-family: Exo-Semibold, Arial, sans-serif;
}
