@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Exo';
	font-style: regular;
	font-weight: 400;
	src: url('/fonts/Exo/Exo-VariableFont_wght.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Exo/Exo-Bold.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	font-style: regular;
	font-weight: 400;
	src: url('/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf');
	font-display: swap;
}

* {
	font-family: Arial, sans-serif;
}

.Archivo {
	font-family: Archivo, Arial, sans-serif;
}

.Exo {
	font-family: Exo, Arial, sans-serif;
}
